# Dependencias
node_modules/

# Builds
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Variables de entorno
.env
.env.*

# Sistema operativo
.DS_Store
Thumbs.db

# Angular
.angular/
.cache/

# IDE
.vscode/
.idea/